#cg_user_registry_div input[type="text"], #cg_user_registry_div select, #cg_user_registry_div textarea{
	width:100%;
	max-width:100%;
	padding:4px;
	overflow: hidden;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
#cg_user_registry_div input[type="password"]{
	padding:4px;
	overflow: hidden;
}

#cg_user_registry_div .cg_input_error{
	color: red;
	width:100%;
	max-width:100%;
}

#cg_upload_form_container .cg_input_error{
	color: red;
}

#cg_user_login_div .cg_input_error{
	color: red;
}

.cg_form_div label{
	display: block;
}

#cg_upload_form_container input[type="text"], #cg_upload_form_container textarea, #cg_upload_form_container select{
	width:100%;
	max-width:100%;
	padding:4px;
	overflow: hidden;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}

#cg_captcha_not_a_robot_registry_field label{
	display: inline;
}



#cg_upload_form div{
	display:block;
	float:none;
	clear:both;
	width:96% !important;
	text-align:left;
	margin:0px;
	padding:0px;
}
#cg_upload_form > div{
	margin-bottom:10px;
}
#cg_upload_form {
	clear:both;
}

#cg_upload_form #cg_captcha_not_a_robot_field label{
	display: inline;
	margin-left: 3px;
}

.cg_check_f_checkbox {
	display:inline-block;
	vertical-align:middle;
	margin-top:6px;
}

.cg_check_f_div {
	float:left;
	display:inline !important;
	margin-left:10px !important;
}

#cg_users_upload_submit, #cg_users_registry_check {
	min-width:100px;
	line-height:normal;
	padding: 4px;
	background-color: #eeeeee;
}

#cg_upload_form_container #cg_form_upload_submit_div #cg_users_upload_submit, #cg_user_registry_div #cg_users_registry_check {
	color: black;
	border: 1px outset;
}

#cg_upload_form_container #cg_form_upload_submit_div #cg_users_upload_submit:focus, #cg_user_registry_div #cg_users_registry_check:focus {
	outline: none;
}

#cg_slider_comment_submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #feb10b), color-stop(1, #feac09));
	background:-moz-linear-gradient(top, #feb10b 5%, #feac09 100%);
	background:-webkit-linear-gradient(top, #feb10b 5%, #feac09 100%);
	background:-o-linear-gradient(top, #feb10b 5%, #feac09 100%);
	background:-ms-linear-gradient(top, #feb10b 5%, #feac09 100%);
	background:linear-gradient(to bottom, #feb10b 5%, #feac09 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb10b', endColorstr='#feac09',GradientType=0);
	background-color:#feb10b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #feb10b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
#cg_slider_comment_submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #feac09), color-stop(1, #feb10b));
	background:-moz-linear-gradient(top, #feac09 5%, #feb10b 100%);
	background:-webkit-linear-gradient(top, #feac09 5%, #feb10b 100%);
	background:-o-linear-gradient(top, #feac09 5%, #feb10b 100%);
	background:-ms-linear-gradient(top, #feac09 5%, #feb10b 100%);
	background:linear-gradient(to bottom, #feac09 5%, #feb10b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feac09', endColorstr='#feb10b',GradientType=0);
	background-color:#feac09;
}
#cg_slider_comment_submit:active {
	position:relative;
	top:1px;
}

#cg_reg_confirm{
	padding-top:75px;
}
#cg_success{
	padding-top:75px;
}
