#cg_rotate_image{
    margin: 30px 0 7px 0;
}

#cg_rotate_image h2{
    margin: 30px 0 7px 0;
}

#cg_rotate_save_changes{
    margin-top: 30px;
}
#cg_rotate_save_changes input{
    width: 400px;
    cursor: pointer;
    background: linear-gradient(0deg, #bbe0ef 50%, #bbe0ef 50%);
}

#cg_rotate_do_not_save_changes input{
    margin-top: 10px;
    width: 400px;
    cursor:pointer;
    background:linear-gradient(0deg, #fef050 50%, #fef050 50%);
}

#cgRotateSource{
    width: 40px;
    cursor: pointer;
}
#cgRotateSource img{
    width: 100%;
}

#cgImgSourceContainer{
    width: 400px;
}

#cgImgSourceContainer #cgImgSource{
    height: 100%;
    width: 100%;
}

#cgRotateThumb{
    width: 40px;
    cursor: pointer;
}
#cgRotateThumb img{
    width: 100%;
}

#cgImgThumbContainer{
    width: 400px;
}

#cgImgThumbContainer #cgImgSource{
    height: 100%;
    width: 100%;
}

.cg90degree,.cg180degree,.cg270degree{
    transform-origin: top left;
    /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left;
    /* Chrome */
    -ms-transform-origin: top left;
    /* IE 9 */
}

.cg90degree{
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}

.cg180degree {
    transform: rotate(180deg) translate(-100%, -100%);
    -webkit-transform: rotate(180deg) translate(-100%, -100%);
    -ms-transform: rotate(180deg) translateX(-100%, -100%);
}

.cg270degree {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}
